.root {
    -fx-padding: 10;
    -fx-font-family: "Ubuntu";
    -fx-background-color: rgb(135, 135, 135, 0.9);
    -fx-background-radius: 10;
}

.center {
    -fx-alignment: center;
}

.green, .red {
    -fx-font-weight: bold;
}

.green {
    -fx-text-fill: green;
}

.red {
    -fx-text-fill: red;
}

.marginA { /*top right bottom left*/
    -fx-padding: 10;
}

.marginB { /*top right bottom ---*/
    -fx-padding: 10 10 10 0;
}

.marginC { /*--- right bottom left*/
    -fx-padding: 0 10 10 10;
}

.marginD { /*top right --- ---*/
    -fx-padding: 10 10 0 0;
}

.widgetHeader {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.widget {
    -fx-background-radius: 10;
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-alignment: center;
}

.scrollPane {
    -fx-pref-width: 135px;
    -fx-pref-height: 50px;
}

.scrollInvoicesPane {
    -fx-pref-width: 135px;
    -fx-pref-height: 400px;
}

.button {
    -fx-background-color: rgb(135, 135, 135, 0.9);
    -fx-text-fill: white;
    -fx-background-radius: 12;
}

.button:hover, .button:pressed {
    -fx-background-color: rgb(123, 204, 255);
}

.button-special {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.button-special:hover, .button-special:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(123, 204, 255);
}